<mat-dialog-content>
  <div class="payment-icon-wrapper">
    <mat-icon>account_balance_wallet</mat-icon>
  </div>

  <h2 class="payment-title">
    {{ 'payment.placeholder.title' | translate }}
  </h2>

  <p class="payment-text" [innerHTML]="'payment.placeholder.description' | translate"></p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="payment-footer">
  <button mat-raised-button color="primary" (click)="close()">
    {{ 'global.close' | translate }}
  </button>
</mat-dialog-actions>
