<div class="product-preview">
  <div class="gallery">
    <img [src]="product().photo" alt="{{ product().productName }}" />
  </div>

  <div class="details">
    <h1>{{ product().productName }}</h1>

    <p class="brand">{{ product().brand }}</p>
    <p class="category">{{ product().category }}</p>

    <p class="description">{{ product().description }}</p>
    <p class="maintenance">{{ product().maintenanceInfo }}</p>

    <div class="price">{{ product().price }} zł</div>

    <button mat-flat-button color="primary" class="add-btn" (click)="addToCart(product())">
      {{ 'productItem.actions.addToCart' | translate }}
    </button>
  </div>
</div>
